<form class="example-form">
  <mat-form-field class="example-full-width" style="width: 100%">
    <mat-chip-list #chipList>
      <mat-chip style="margin-top:0.4em;" *ngFor="let option of this.dataService.searchOption" (removed)="removeOption(option)">

        <span>{{option.product_name}}</span>

        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
      <input #autocompleteInput type="text" placeholder="Enter product name" aria-label="Number" matInput
        [formControl]="myControl" [matAutocomplete]="auto" [matChipInputFor]="chipList"
        [attr.disabled]="true ? true : null">
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
        <mat-option *ngFor="let option of autoCompleteList" [value]="option"
          (onSelectionChange)="filterProductsList($event)">
          {{option.product_name}}
        </mat-option>
      </mat-autocomplete>
    </mat-chip-list>
  </mat-form-field>

</form>